#graph {
	height: 400px;
	display: flex;
	flex-direction: row;
}

#graph .axis {
	border: 1rem solid #777;
}

#graph .day {
	min-width: 2rem;
	margin: 0 .2rem;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	text-align: center;
}

#graph .bar {
	background-color: hsl(180, 100%, 26%);
	color: #eee;
	border: .1rem solid #777;
	border-bottom: none;
	transition: background-color .5s;
	height: 100%;
}

#graph .bar.cheapest {
	background-color: hsl(168, 100%, 33%);
}

#graph .bar:hover {
	background-color: hsl(180, 100%, 20%);
}

#graph .duration {
	font-size: .7em;
	line-height: 1.4em;
	white-space: nowrap;
	overflow: hidden;
}

#graph .bar-with-overlay {
	position: relative;
}

#graph .overlay {
	display: none;
	color: black;
	position: absolute;
	bottom: 100%;
	left: -50%;
	padding-bottom: .7rem;
	z-index: 999;
}

#graph .bar:hover ~ .overlay {
	display: initial;
}

#graph .day-connector {
	left: 50%;
	bottom: 1rem;
	height: .7rem;
	background-color: #77777777;
}
