#graph {
	height: 400px;
	display: flex;
	flex-direction: row;
	margin: 4rem;
}

#graph .axis {
	border: 1rem solid #777;
}

#graph .day {
	width: 2rem;
	margin: 0 .2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
}

#graph .bar {
	background-color: hsl(180, 100%, 26%);
	color: #eee;
	border: .1rem solid #777;
	border-bottom: none;
	transition: background-color .5s;
	height: 100%;
}

#graph .bar.cheapest {
	background-color: hsl(168, 100%, 33%);
}

#graph .bar:hover {
	background-color: hsl(180, 100%, 20%);
}

#graph .duration {
	font-size: .7em;
	line-height: 1.4em;
	white-space: nowrap;
	overflow: hidden;
}

#graph .bar-with-overlay {
	position: relative;
}

#graph .overlay {
	display: none;
	position: absolute;
	color: black;
	z-index: 999;
}

#graph .journey-details {
	align-items: center;
	flex-direction: column;
	bottom: 100%;
	left: 0;
	right: 0;
	padding-bottom: .7rem;
}

#graph .bar:hover ~ .overlay {
	display: flex;
}

#graph .day-connector {
	left: 50%;
	bottom: 1rem;
	height: .7rem;
	width: 100%;
}

#graph .day-connector-main {
	background-color: #777777;
	flex-shrink: 0;
}

#graph .day-connector-end {	
	width: 0; 
	height: 0; 
	border-top: .7rem solid transparent;
	border-bottom: .7rem solid transparent;	
	border-left: .7rem solid #777777;
	transform: translateY(-.35rem);
}

#graph .day .label {
	height: 1em;
	overflow: visible;
}
